@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');


.resize {
  width: 90% !important;
  height: 20vh !important;
  margin: 0 auto;
}
.bot-100 {
  bottom: 100px !important;
}
.bot-15 {
  bottom: 15px !important;
}

.carousel-item {
  position: relative;
  justify-content: center;
}

.carousel-item img{
  position: absolute;
  left: calc(50% - 5em);
  height: 20vh !important;
}
/* .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.501);
  z-index: 0;
} */
/* .carousel-item::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  font-size: 100px;
  font-weight: bold;
  color: white;
  font-family: 'Lobster Two', cursive;
  z-index: 1;
  text-shadow: 0 0 8px #e91e63;
  text-align: center;
} */